.sectionWrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contactData {
  font-size: 13px;
  letter-spacing: .5px;
  margin: 30px;
  text-align: center;

  & > p {
    margin: 5px 0;
  }

  & > a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
    text-decoration: underline;
  }
}
