.info {
  border-color: #ffffff;
    border-width: 0px;
    background-color: #faf9f8;
    box-sizing: content-box;
    height: 80px;
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    color: #6b409b;
    font-size: 40px;
}