$color-header-text: #fff;
// rgb(26, 49, 87);
.headerWrapper {
  padding: 15px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  font-family: 'Dancing Script';
  font-size: 35px;
  color: $color-header-text;
  font-weight: 600;
  line-height: 30px;
}

.logoSubtext {
    font-size: 8px;
    text-transform: uppercase;
    color: $color-header-text;
    position: absolute;   
}

.socialLinks {
  font-size: 17px;
  color: $color-header-text;
 
  > a {
    padding: 0 10px;
  }
}

.telefon {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  padding-right: 20px;
}

.menu {
  color: $color-header-text;
	list-style: none;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
  
  li {
    display: inline;
    padding: 0 20px;
	}
}

