.logoWrapper {
  /*max-width: 1000px;*/
    margin: 20px;
}

.logoText {
  font-family: 'Dancing Script';
  font-size: 40px;
  color: rgb(26, 49, 87);
  font-weight: 600;
}

.logoSubtext {
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(26, 49, 87);
}
