$color-header-text: #fff;
// rgb(26, 49, 87);
.logoWrapper {
  padding: 15px 20px;
  position: relative;
    
}

.logoText {
  font-family: 'Dancing Script';
  font-size: 35px;
  color: $color-header-text;
  font-weight: 600;
  line-height: 30px;
}

.logoSubtext {
    font-size: 8px;
    text-transform: uppercase;
    color: $color-header-text;
    position: absolute;   
}
