@import '../../../scss/variables-mixins/variables-mixins';

$color-header-text: #fff;

// rgb(26, 49, 87);
.headerWrapper {
  color: $color-header-text;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.headerWrapperScrolled {
  color: #000;
  background-color: #fbf9f5;
  box-shadow: 0px 1px 3px 0px rgba(150,150,150,0.3);
  transition: .3s ease;
  z-index: 1;
}

.logoText {
  font-family: 'Dancing Script';
  font-size: 35px;
  // color: $color-header-text;
  font-weight: 600;
  line-height: 30px;
}

.logoSubtext {
  font-size: 8px;
  
  position: absolute;
  font-size: 8px;
  letter-spacing: .5px;
}

.telefon {
  // color: $color-header-text;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  padding-right: 20px;
  @include breakpoint($breakpointM) {
    padding-right: 10px;
  }
}

.menu {
  // color: $color-header-text;
  list-style: none;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
  @include breakpoint(870px) {
    display: none;
  }

  li {
    display: inline;
    padding: 0 10px;
    @include breakpoint($breakpointM) {
      padding: 0 5px;
    }

    a.link:hover {
      border-bottom: 2px solid #ddcaaa;
      padding-bottom: 5px;
      // color: #fff;
    }
  }
}