@import '../../../scss/variables-mixins/variables-mixins';

.footer {
  background-color: #ddcbaa;
  padding: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint($breakpointM) {
      flex-direction: column;
      text-align: center;
      max-width: 250px;
      margin: auto;
    }
}

.links {
  @include breakpoint($breakpointM) {
    margin-top: 20px;
  }
  > a{
    text-decoration: underline;
  }

  > a:hover {
    color: #a36503;
  }
}
