.footer {
  background-color: #ddcbaa;
  padding: 20px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
  > a{
    text-decoration: underline;
  }

  > a:hover {
    color: #a36503;
 
  }
}
