.text{
  text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}
.line {
  width: 50px;
  border-bottom: 2px solid #d6a449c4;
  margin: 10px auto;
}