@import '../../../scss/variables-mixins/variables-mixins';

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
}

.customerLogo {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  filter: sepia(1);
  opacity: 0.6;
  margin: 10px;
}

.customerLogo:hover {
  filter: none;
  opacity: 1;
}

.basilicom {
  height: 11px;
}

.frauenLoop {
  height: 25px;
  background-color: #F70247;
  border-radius: 2px;
}

.soniqService {
  height: 20px;
}

.ergoDit {
  height: 15px;
}

.deutschePost {
  height: 40px;
}