.sectionWrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  //background-color: #fbf9f5;
  // background-color: #ddcbaa;
  background-color: #ddcbaa3b;
}
.sectionHeader{
  text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}
.line {
  width: 50px;
  border-bottom: 2px solid #d6a449c4;
  margin: 10px auto;
}

.wrapper{
  display: flex;
  // justify-content: flex-start;
  margin: 60px 0;
}

.right {
  min-width: 400px;
  text-align: center;
  
  > h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 5px;
  }
}

.left {
  font-size: 12px;
    letter-spacing: .5px;
    margin-top: 10px;
}
