@import './variables-mixins/variables-mixins';

.react-slideshow-container + div.indicators > div {
    width: 10px;
    height: 10px;
    margin: 0 10px 15px;
    border-radius: 50%;
    background: #cec3a9d6;
    cursor: pointer;

    @include breakpoint($breakpointM) {
        width: 15px;
        height: 15px;
        margin: 0 10px 10px;
    }
}

.react-slideshow-container + div.indicators > div.active {
  background: #7c6f3a;
}