@import '../../../scss/variables-mixins/variables-mixins';

.technologies {
  max-width: 570px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  align-items: center;

  svg {
    height: 70px;
    width: 100px;
    margin: 30px 20px 0;
  }

  span {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #7c6f3a;
    text-transform: uppercase;
  }

}


